name=exasolsink
debezium.source.connector.class=io.debezium.connector.mysql.MySqlConnector
debezium.source.offset.storage=org.apache.kafka.connect.storage.FileOffsetBackingStore
debezium.source.offset.storage.file.filename=/tmp/offsets_connector-stock.dat
debezium.source.offset.flush.interval.ms=60000
debezium.source.database.hostname=XX.YY.YYY.ZZ
debezium.source.database.port=3306
debezium.source.database.user=${debezium}
debezium.source.database.password=${dbz}
debezium.source.database.include.list=tpcc
debezium.source.database.server.id=184054
debezium.source.topic.prefix=cdc
debezium.source.schema.history.internal=io.debezium.storage.file.history.FileSchemaHistory
debezium.source.schema.history.internal.file.filename=/tmp/schemahistory_connector-stock.dat
debezium.source.snapshot.mode=no_data
debezium.source.heartbeat.interval.ms=10000
debezium.source.max.batch.size=100000
debezium.source.max.queue.size=300000
debezium.source.poll.interval.ms=10000
debezium.sink.type=exasol
exasol.connection.url=jdbc:exa:XX.YYY.YY.Z,XX.YYY.YY.ZZ/nocertcheck:8563
exasol.connection.username=${sys}
exasol.connection.password=${exasol}
quarkus.log.file.enable=true
quarkus.log.file.path=logs/debezium.log
quarkus.log.file.rotation.max-file-size=20M
quarkus.log.file.rotation.max-backup-index=5
quarkus.log.category."io.debezium.server.console".level=TRACE
quarkus.log.console.level=TRACE
quarkus.log.file.level=TRACE
quarkus.log.min-level=TRACE

